<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
    <servers>
        <server>
            <id>devops-store-snapshots</id>
            <username>${env.JFROG_USERNAME}</username>
            <password>${env.JFROG_TOKEN}</password>
        </server>
        <server>
            <id>devops-store-candidates</id>
            <username>${env.JFROG_USERNAME}</username>
            <password>${env.JFROG_TOKEN}</password>
        </server>
        <server>
            <id>devops-store-maven-virtual</id>
            <username>${env.JFROG_USERNAME}</username>
            <password>${env.JFROG_TOKEN}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>devops-store-maven-virtual</id>
            <name>DevOps Store Maven virtual</name>
            <url>${env.JFROG_URL}/devops-store-maven-virtual</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>devops-store-resolution</id>
            <repositories>
                <repository>
                    <id>devops-store-resolution</id>
                    <url>${env.JFROG_URL}/devops-store-maven-virtual</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>devops-store-plugins</id>
                    <url>${env.JFROG_URL}/devops-store-maven-virtual</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>devops-store-resolution</activeProfile>
    </activeProfiles>
</settings>
